<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title><%= username %></title>
    <!--link rel="/javascripts/widget.html"></link-->
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>

</head>

<nav class="nav-extended navbar-fixed" style="position:fixed;">
    <div class="nav-wrapper" style="height:100%;">

        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul class="side-nav" id="mobile-demo" style="transform: translateX(-100%);">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
        <div class="row" style="height:100%; margin-bottom:0;">
            <div class="col s4 m4" style="line-height: 48px;"><img class="brand-logo" src="images/brainstorm.png"
                                                                   style="height:40px; padding-top:10px;"></div>
            <div id="nav-mobile" class="col s4 m4 right hide-on-med-and-down" style="height:100%; line-height:100%;">
                <ul class="tabs">
                    <li class="tab col s3"><a id="text_hover" href="#wubbalubba"><i style="padding-bottom:30px;" class="material-icons">collections</i></a></li>
                    <li class="tab col s3"><a id="text_hover" class="active" href="#wubbalubba"> <i class="material-icons big center">color_lens</i> </a></li>
                    <li class="tab col s3"><a id="text_hover disconnect" href="#wubbalubba"><i class="material-icons big center">person</i> </a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<body>
<div class="main">

    <div class="container index_center">

        <div class="row">
            <div id="welcome_text" class="col s12 m12" style="padding-top:60px; text-align:center;">
                <h3> Wellcome, <%= username %></h3>
                <h5>welcome to wubba lubba dubb dubb. be creative,  do your thing, see what's going on.</h5>
            </div>
        </div>
        <!--h1> helou!</h1-->

        <!--<div id="loggedout">-->
            <!--<a id="connectLink" href="#">Connect To Trello</a>-->
        <!--</div>-->

        <script type="text/javascript">
//            if(!Trello.authorized()){
//                $("#loggedin").hide();
//            }
        </script>

        <div id="loggedin" style="background:white;">
            <div id="header" style="background:white;">
                <a id="disconnect" href="#">Log Out</a>
            </div>
        </div>




        <div class="row" id="sekcija_stanovanja" >

            <% for(var i=0; i < teams.length; i++) { %>

            <div class="col m6 s6" >

                <div  id="card_hover"  class="card sticky-action large hoverable" style="padding: 10px; overflow-y: hidden;">

                    <div class="card-image waves-effect waves-block waves-light crop_image activator  portfolio-item"
                         style="width:100%;height: 100%; background-image:url(images/brainstorming_2.jpg);">

                        <div class="content" style="padding: 30px;">

                            <% for(var j=0; j < teams[i].idBoards.length; j++) {
                            %>

                            <div class="col s6 m6 center" style="padding: 20px; font-size:14px; line-height:1;" > <i class="material-icons big center">gesture</i> <a href="/canvas?boardId=<%= teams[i].idBoards[j] %>"> board </a> </div>

                            <% } %>
                        </div>

                    </div>


                    <ul class="card-action-buttons" >

                        <li style="margin-top:3px;"><a class="btn-floating waves-effect waves-light" href="<%=teams[i].url %>" style="background-color:#FB9494"><i style="color:white;" class="material-icons small">link</i></a>
                        </li>
                    </ul>




                    <div class="card-content center" style=" padding: 5px; padding-top:2px; position:relative;">
                        <div class="col m12 s12 card-title grey-text text-darken-4 " style="line-height:25px;"  > <%= teams[i].displayName %>
                            <!--a style="padding-left:20px;" href="<%=teams[i].url %>">  <i class="material-icons">link</i> </a-->
                        </div>
                        <!--div class="col m12 s12 " > <p style="font-size:12px;"> Maribor <i class="material-icons tiny center"
                                                                                           style=" vertical-align:bottom;vertical-align: text-bottom;">home</i> </p> </div-->


                        <div class="col s12 m12" style="padding-top: 15px; font-size:12px; line-height:1;">

                            <% for(var k=0; k < teams[i].memberships.length; k++) {
                            %>
                                <div class="col s6 m3" > <i class="material-icons">person_pin</i> <p> <%=teams[i].memberships[k].memberType %></p> </div>


                            <% } %>
                        </div>

                    </div>


                </div>

            </div>


            <% } %>




        </div>




        <div class="fixed-action-btn horizontal" style="bottom: 60px;"> <!-- position: absolute -->  <!-- brez teh dveh je fiksirano na celotno stran -->

            <a class="btn-floating btn-large green"  id="disconnect" onclick="">
                <i class="large material-icons" style="background-color:#FB9494">mode_edit</i>
            </a>
            <ul>
                <li><a class="btn-floating red"  id="disconnect"  style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons" style="background-color:#FB9494">collections</i></a></li>
                <li><a class="btn-floating yellow darken-1"   id="disconnect"  style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons" style="background-color:#FB9494">color_lens</i></a></li>
                <li><a class="btn-floating green"  id="disconnect"  style="transform: scaleY(0.4) scaleX(0.4) translateY(0px) translateX(40px); opacity: 0;"><i class="material-icons" style="background-color:#FB9494">person</i></a></li>
            </ul>
        </div>











    </div>
</div>




















</body>
<footer class="page-footer" style="margin-top:0;">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://api.trello.com/1/client.js?key=03302260cf80ddc31e5a5d3f9d8ea0e5"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script type="text/javascript" src="javascripts/materialize_design.js"></script>
    <script type="text/javascript" src="javascripts/script.js"></script>

    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <p class="grey-text text-lighten-4">Icon made by freepik from www.flaticon.com
                    content.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
        </div>
    </div>
</footer>
</html>
